@charset "UTF-8";
/* 基本設定 */
body {
  background: #ffffff !important;
  color: #333;
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.5;
}
main {
  padding: 0 4.26vw;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
h2 + p {
  font-size: 1.4rem;
  text-align: center;
  margin: 5.3vw 3.73vw 8vw;
}
br.pc {
  display: none;
}
.main_wrap {
  background: none;
  border-radius: 0 !important;
}
.main-equal-px {
  padding: 0 4.26vw;
}
.box-preferential .box-logo span.link {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: -1px;
  line-height: 2;
  display: block;
  width: 92px;
  height: 24px;
  border-radius: 12px 0 0 0;
  background-color: rgba(0, 0, 0, 0.48);
  position: absolute;
  right: 0;
  bottom: 0;
  padding-left: 14px;
}
.box-preferential .box-logo span.link::after {
  content: '';
  display: inline-block;
  background: url('../images/preferential/ico-arrow-forward.png') no-repeat 0 0/100%;
  width: 12px;
  height: 12px;
  margin-left: 3px;
}
.box-preferential {
  background: #fff;
  border-radius: 12px;
  width: 91.48vw;
  margin-bottom: 5.3vw;
  overflow: hidden;
  box-shadow: 0px 0px 10px #e4e0e1;
}
.box-preferential a {
  width: 100%;
  height: 100%;
  display: block;
}
.box-preferential a:hover .box-logo img {
  transform: scale(1.1);
  transition: all 0.3s;
}
.box-preferential .box-logo {
  width: 100%;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.box-preferential .box-logo img {
  width: calc(100vw - (2vw * 2));
  height: auto;
}
.box-preferential .box-details {
  border-top: 2px solid #f4f4f4;
  padding: 0;
}
.box-preferential .box-details .box-details-inner {
  padding: 2.6vw 3.73vw 6vw;
}
.box-preferential .box-details .box-details-inner:first-child {
  padding: 2.6vw 3.73vw 0;
}
.box-preferential .box-details h3 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
}
.box-preferential .box-details h3 span {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}
.box-preferential .box-details .box-subtitle {
  font-size: 1.4rem;
  padding-bottom: 4px;
}
.box-preferential .box-details .box-text {
  font-size: 1.6rem;
}

img {
  object-fit: cover;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box-preferential-sm {
  width: calc(50% - 4px);
  margin-right: 4px;
  margin-bottom: 8px;
}
.box-preferential-sm:nth-child(2n) {
  margin-right: 0;
}
.box-preferential-sm:nth-child(4n) {
  margin-right: initial;
}


.box-preferential a:hover .box-button-detail {
  transition: all 0.3s;
  background-color: #333333;
  color: #fff;
}

.caption-text {
  text-align: left;
  padding-left: 16px;
  margin-bottom: 32px;
  position: relative;
}
.caption-text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 5px;
  height: 22px;
  background-color: #e62320;
}
.caption-text-sm {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 12px;
  position: relative;
}
.caption-text-sm::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 3px;
  height: 14px;
  background-color: #e62320;
}
.caption-text-sm:not(:first-child) {
  margin-top: 24px;
}

/* 行省略 */
.js-line-clamp-02,
.js-line-clamp-03,
.js-line-clamp-04,
.line-clamp-02,
.line-clamp-03,
.line-clamp-04 { /* 複数行のテキストを特定の行数で切り取る方法として使用されている */
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden; /* コンテナを超えるテキストを隠す */
}

.js-line-clamp-02 {
  -webkit-line-clamp: 2;
}
.js-line-clamp-03 {
  -webkit-line-clamp: 3;
}
.js-line-clamp-04 {
  -webkit-line-clamp: 4;
}

/* JS制御しない場合 */
.line-clamp-02 {
  -webkit-line-clamp: 2;
}
.line-clamp-03 {
  -webkit-line-clamp: 3;
}
.line-clamp-04 {
  -webkit-line-clamp: 4;
}

.card {
  border-radius: 4px;
  box-shadow: 0px 0px 5px #e4e0e1;
  padding: 8px;
  position: relative;
}
.recommend-card::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #e62320 transparent;
  bottom: 10px;
  right: 10px;
  border-width: 0px 0 17px 18px;
}
.box-preferential-sm.recommend-card::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #e62320 transparent;
  bottom: 10px;
  right: 10px;
  border-width: 0px 0 17px 18px;
}
.recommend-top-wrap {
  display: block;
  margin-bottom: 20px;
  padding: 8px;
}
.recommend-top-icon {
  position: absolute;
  top: -8px;
  left: -4px;
}
.recommend-top-img-wrap {
  height: initial;
  width: initial;
}
.recommend-top-img-wrap img,
.recommend-list-img-wrap img {
  vertical-align: top;
  height: 100%;
  width: 100%;
}
.recommend-top-text-wrap {
  margin: 20px 0;
  padding: 0px 12px;
}
.recommend-top-text-wrap h2 {
  text-align: left;
  font-size: 16px;
}
.recommend-top-text-wrap p {
  text-align: left;
  margin: 16px 0 0 0;
}
.recommend-list-img-wrap {
  margin-bottom: 10px;
  height: initial;
  width: initial;
}
.box-preferential-sm .box-details h3 {
  font-size: 1.34rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.box-preferential-sm .box-details p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}



.flex_pc.jus-center {
  justify-content: center;
}



.br-sp {
  display: block;
}
.layout-container:first-child {
  margin-top: 32px;
}
.layout-container {
  margin-bottom: 64px;
}
.bg-gray {
  background: #e4e0e1;
}
a.pt-32-pc {
  display: inline-block;
  padding-top: 0;
}


.recommend-info-text {
  color: #e62320;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 16px 0 32px 0;
  text-align: initial;
}

@media screen and (min-width: 961px) {
  main {
    padding: 0;
  }
  h2 {
    font-size: 2.6rem;
  }
  h2 + p {
    font-size: 1.6rem;
    text-align: center;
    margin: 20px 0 30px;
  }
  br.pc {
    display: block;
  }
  .flex_pc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main_wrap {
    margin-left: auto;
    margin-right: auto;
  }
  .box-preferential {
     width: 280px;
     margin-right: 20px;
     margin-bottom: 20px;
  }
  .box-preferential-sm {
    width: 200px;
    margin-right: 26.5px; /* TODO: ここを修正 margin-right: 20px; */
    margin-bottom: 20px;
  }
  .box-preferential a:hover .box-logo img {
    transform: scale(1.1);
    transition: all 0.3s;
  }
  .box-preferential .box-logo {
    height: 150px;
  }
  .box-preferential .box-logo img {
    width: 300px;
    height: 160px;
  }
  .box-preferential .box-details {
    padding: 0;
  }
  .box-preferential .box-details .box-details-inner,
  .box-preferential .box-details .box-details-inner:first-child {
    padding: 8px 12px;
  }
  .box-preferential:nth-child(3n) {
    margin-right: 0;
  }
  .box-details .box-divider {
    margin-top: initial;
  }
  .box-preferential-sm .box-details h3 {
    font-size: 1.6rem;
  }
  .box-preferential-sm .box-details p {
    font-size: 1.4rem;
  }

  .caption-text {
    margin-bottom: 40px;
    padding-left: 20px;
  }
  .caption-text::before {
    left: 0;
    top: 3px;
    width: 5px;
    height: 28px;
  }
  .caption-text-sm {
    font-size: 1.6rem;
  }
  .caption-tex-sm::before {
    height: 18px;
  }
  .caption-text-sm:not(:first-child) {
    height: 18px;
    margin-top: 36px;
  }
  .box-preferential-sm:nth-child(2n) {
    margin-right: 26.5px; /* TODO: ここを修正 margin-right: 16px; */ 
  }
  .box-preferential-sm:nth-child(4n) {
    margin-right: 0;
  }
  /* ここからエフェクト（山田さん追加） */
  .recommend_area {
    display: block;
  }
  .recommend_area:hover {
    transform: translateY(10px);
  }
  /* ここまでエフェクト（山田さん追加） */
  
  .card {
    padding: 10px;
  }
  .recommend-top-wrap {
    display: flex;
    padding: 10px;
  }
  .recommend-top-img-wrap {
    height: 260px;
    width: 260px;
  }
  .recommend-top-text-wrap {
    margin: auto 0;
    padding: 0px 24px;
  }
  .recommend-top-text-wrap h2 {
    text-align: left;
    font-size: 24px;
  }
  .recommend-top-text-wrap p {
    margin: 30px 0 0 0;
  }
  .recommend-list-img-wrap {
    height: 180px;
    width: 180px;
  }
  .recommend-card::after {
    border-width: 0px 0 25px 27px;
  }
  .box-preferential-sm.recommend-card::after {
    border-width: 0px 0 17px 18px;
  }

  .recommend-top-icon {
    top: -36px;
    left: -8px;
  }
  
  .layout-container:first-child {
    margin-top: 40px;
  }
  .layout-container {
    margin-bottom: 80px;
  }
  a.pt-32-pc {
    padding-top: 32px;
  }

   .flex-container {
    justify-content: left;
  }
}

