* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, div, span, img, a, table, tr, th, td, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
    display: block;
}

body {
    line-height: 1;
}

body.fixed {
    overflow: hidden;
}

ol, ul, nav {
    list-style: none;
    list-style-type: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: transparent;
}

/* 基本設定 */
html {
    font-size: 62.5%;
}

body {
    color: #000000;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    line-height: 1.5;
    font-size: 1.2rem;
    margin-top: 50px;
}

header {
    background: #fff;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.temperature_area {
    margin-right: 1rem;
}
.temperature_area p {
    font-size: 1rem;
}
.temperature {
    color: #FA966F;
    margin-left: 1rem;
}


h1 {
	padding-left: 2vw;
}

/* logo.svgのロゴを小さくしている */
h1 img {
    width: 120px !important;
    vertical-align: middle;
}

/* 天気 */
.weather_area {
    width: auto;
}

.weather_icon {
    width: auto;
    height: 1.4rem;
    margin-right: 1rem;
}

.weather_area .font_size[_ngcontent-vvr-c30] {
    font-size: 1rem;
    margin-right: 4rem;
}

.fd_column {
    flex-direction: column;
}

.navWrap {
    width: 48px;
    height: 48px;
    border-left: 1px solid #EBEBEB;
}
@media screen and (min-width: 961px) {
    .navWrap {
        width: 60px;
        height: 60px;
    }
}

header nav {
    position: fixed;
    top: 68px;
    right: 0;
    background: #fff;
    z-index: 210;
    border: 1px solid #EBEBEB;
    width: 100vw;
    height: 120vh;
}

/* スマホのメニュー */
.menu_wrap {
    background: #fff;
    height: 1100px;
}

header nav ul {
    width: 80vw;
    position: relative;
}

header nav ul li {
    font-size: 1.4rem;
    border-bottom: 1px solid #EBEBEB;
}

header nav ul li a {
    display: block;
    padding: 1rem 7rem;
}

/* account_menu⇒会員情報・契約内容・プロフィールの確認変更、sys_menu⇒旧バージョンに戻る、ログアウト */
.account_menu li a,
.sys_menu li a {
    padding: 1rem 3.5rem;
}

.account_menu li:first-child a {
    padding: 1rem 7rem;
}

.account_menu li:nth-child(1) {
    background: url(../images/account.png) no-repeat 2em center;
    background-size: 1.8em;
}

.notifications {
    background: url(../images/notifications.png) no-repeat 2em center;
    background-size: 1.8em;
}

.electrical {
    background: url(../images/electrical.png) no-repeat 2em center;
    background-size: 1.8em; 
}

.auto_graph {
    background: url(../images/auto_graph.png) no-repeat 2em center;
    background-size: 1.8em; 
}

.details {
    background: url(../images/details.png) no-repeat 2em center;
    background-size: 1.8em; 
}

.point {
    background: url(../images/point.png) no-repeat 2em center;
    background-size: 1.8em; 
}

.electrical_services {
    background: url(../images/electrical_services.png) no-repeat 2em center;
    background-size: 1.8em; 
}

.teiden {
    background: url(../images/teiden.png) no-repeat 2em center;
    background-size: 1.8em; 
}

.help {
    background: url(../images/help.png) no-repeat 2em center;
    background-size: 1.8em; 
}



/* スマホのメニューの月別、週別、日別、時間別の左側の黒い三角の矢印 */
.arrow_right {
    background: url(../images/arrow_right.png) no-repeat 4.2em center;
    background-size: 2em;
    text-indent: 13px;
}



/* ハンバーガー */
.hamburger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.hamburger {
    position: relative;
    width: 18px;
    height: 12px;
}

.hamburger span {
    position: absolute;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
}

.hamburger span:nth-of-type(1) {
    top: 0;
}

.hamburger span:nth-of-type(2) {
    top: 5px;
}

.hamburger span:nth-of-type(3) {
    bottom: 0;
}

.hamburger.opened span:nth-of-type(1) {
    -webkit-transform: translateY(5px) rotate(-45deg);
    transform: translateY(5px) rotate(-45deg);
}

.hamburger.opened span:nth-of-type(2) {
    opacity: 0;
}

.hamburger.opened span:nth-of-type(3) {
    -webkit-transform: translateY(-5px) rotate(45deg);
    transform: translateY(-5px) rotate(45deg);
}

/* スマホのハンバーガーの右上についている「お知らせがある場合の赤い丸の部分」 */
.hamburger.active::after {
    position: relative;
    content: "";
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 9px;
    background: #EB1E1E;
    position: absolute;
    top: -7px;
    right: -3px;
}


/* スマホのハンバーガーをクリックした時のメニュー内の「お知らせ件数の赤い丸の部分」 */
#menu_notification.active::after {
    position: relative;
    content: "2";
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 9px;
    background-color: #EB1E1E;
    color: #fff;
    position: absolute;
    top: 12px;
    left: 16em;
    font-size: 1rem;
    text-align: center;
}

/* スマホのハンバーガーをクリックした時のメニュー */
#hamburger_menu {
    overflow: scroll;
    height: 100vh;
    position: absolute;
    right: 0;
    transition-duration: .5s;
}

#hamburger_menu.hide {
    right: -80px;
    transition: all .3s;
}

img {
    width: 100%;
}

main {
    padding: 20px 0;
}

a {
    text-decoration: none;
    color: #212121;
}

.mt0 {
    margin-top: 0 !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt14 {
    margin-top: 14px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt40 {
    margin-top: 40px !important;
}
@media screen and (min-width: 961px) {
    .mt20_pc {
        margin-top: 20px !important;
    }
}


.mb2 {
    margin-bottom: 2px;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}



.mr10 {
    margin-right: 10px !important;
}

.mr20 {
    margin-right: 20px !important;
}


.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.p10 {
    padding: 10px 0;
}

.fs10 {
    font-size: 1rem m !important;
}

.fs11 {
    font-size: 1.1rem m !important;
}

.fs12 {
    font-size: 1.2rem m !important;
}

.fs14 {
    font-size: 1.4rem m !important;
}

.fs15 {
    font-size: 1.5rem m !important;
}

.fs16 {
    font-size: 1.6rem m !important;
}

.fs18 {
    font-size: 1.8rem m !important;
}

.fs22 {
    font-size: 2.2rem m !important;
}

.fs24 {
    font-size: 2.4rem m !important;
}

.bold {
    font-weight: bold;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.w50 {
    width: 50%;
}

.w55 {
    width: 55%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.bg_white {
    background: #fff;
}

.ul-align-ceter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

/* PCナビゲーションのプルダウンの中の月別、週別、日別、時間別の左側に使う黒い三角▼ */
.arrow::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 2px solid #212121;
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg);
    margin: 0 0 0 5px;
    position: relative;
    top: 0;
}
@media screen and (min-width: 961px) {
    .arrow::after {
        margin: 0 0 1px 5px;
    }
}


/* flex */
.flex {
    display: flex;
}

.jc_between {
    justify-content: space-between;
}

.jc_end {
    justify-content: flex-end;
}

.jc_center {
    justify-content: center;
}

.ai_center {
    align-items: center;
}

.ai_flex_start {
    align-items: flex-start;
}

.ai_flex_end {
    align-items: flex-end;
}

.fw_flex_wrap {
    flex-wrap: wrap;
}

.flex_sp {
    display: flex;
}

.jc_between_sp {
    justify-content: space-between;
}

/* フッター */
footer {
    background: #F4F4f4;
    padding-bottom: 26vw;
}

/* フッター 「東京電力エナジーパートナー  よくあるご質問  ご利用規約  個人情報保護方針」「TEPCOロゴ」の部分  */
.link_lists,.logo_tepco {
    background: #fff;
}

/* フッター 「東京電力エナジーパートナー  よくあるご質問  ご利用規約  個人情報保護方針」の部分 */
footer .link_lists li {
    margin-bottom: 10px;
}

/* フッター 「東京電力エナジーパートナー  よくあるご質問  ご利用規約  個人情報保護方針」の部分 */
footer .link_lists a {
    color: #666;
    text-decoration: none;
    padding: 0 10px;
    font-size: 1.4rem;
    line-height: 2;
}

/* フッター 「TEPCOロゴ」の部分 */
footer p.logo_tepco {
    width: 30%;
    margin: 0 auto;
    padding: 20px 0;
}

/* フッター 「本Webサイト上における各コンテンツは、著作権によって保護されています。」の部分 */
.copy {
    width: 100%;
    padding: 20px;
}

/* フッター スマホのボトムナビゲーション */
footer nav {
    background: rgba(235,235,235,0.9);
    position: fixed;
    left: 3.7%;
    bottom: 10px;
    border-radius: 24px;
    width: 92vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    z-index: 3;
}

/* フッター スマホのボトムナビゲーション */
footer nav ul {
    margin: 15px 0;
}

/* フッター スマホのボトムナビゲーション */
footer nav ul li {
    display: inline-block;
    border-radius: 16px;
    width: 18vw;
    height: 16.5vw;
    font-size: 1rem;
    text-align: center;
    background-size: 42%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center 30%;
    letter-spacing: -1px;
    margin: 0 1.5vw;
    box-shadow: 0 1px 8px rgba(0,0,0,0.1);
}

/* フッター スマホのボトムナビゲーションの「くらしアイデア」 */
footer nav ul li.idea {
    letter-spacing: -2px;
}

/* フッター スマホのボトムナビゲーション */
footer nav ul li a {
    color: #000000 !important;
    display: block;
    width: 18vw;
    height: 16.5vw;
    padding-top: 11vw;
}

@media screen and (max-width: 320px) {
    /* フッター スマホのボトムナビゲーション */
    footer nav ul li {
        font-size: 0.9rem;
        letter-spacing: -2px;
    }
}

/* フッター　スマホのボトムナビゲーション 「ホーム」アイコン */
.home {
    background-image: url(../images/svg/icon-home.svg);
}

/* フッター　スマホのボトムナビゲーション 「ホーム」アイコンのアクティブ */
#home .home {
    background-image: url(../images/svg/icon-home_active.svg);
}

/* フッター　スマホのボトムナビゲーション 「くらしアイデア」アイコン */
.idea {
    background-image: url(../images/svg/icon-idea.svg);
}

.outage {
    background-image: url(../images/svg/icon-teiden.svg);
}

/* フッター　スマホのボトムナビゲーション 「お知らせ」アイコン */
.notice {
    background-image: url(../images/svg/icon-info.svg);
}

/* フッター　スマホのボトムナビゲーション 「お知らせ」アイコンのアクティブ */
#notice .notice {
    background-image: url(../images/svg/icon-info_active.svg);
}

/* フッター　スマホのボトムナビゲーション 「各種お手続き」アイコン */
.edit {
    background-image: url(../images/svg/icon-edit.svg);
    position: relative;
}

/* フッター　スマホのボトムナビゲーション 「各種お手続き」アイコンのアクティブ */
.edit.act {
    background-image: url(../images/svg/icon-edit_active.svg);
}

/* フッター　スマホのボトムナビゲーション 「各種お手続き」 */
.edit a {
    pointer-events: none;
}

.faq {
    background-image: url(../images/svg/icon-faq.svg);
}


/* footerのボトムナビゲーションの「各種お手続き」をクリックした時のプルダウン */
.edit .subNav.act {
    /* .edit .subNav { で同じことが書いてあるため削除
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    position: absolute;
    z-index: 160;
    border-radius: 10px;
    top: -130px;
    left: -30px;
    width: 290%; 
    */
    display: block;
}

/* footerのボトムナビゲーションの「各種お手続き」をクリックした時のプルダウン */
.edit .subNav {
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    position: absolute;
    z-index: 160;
    border-radius: 10px;
    /* プルダウンの横幅を広げて上にあげたため削除
    top: -120px;
    left: -30px;
    width: 250%; */
    top: -190px;
    left: -40px;
    width: 250%;  /* ここでプルダウンの横幅を調節 */
    transition: .5s;
    display: none;
    /*  min-width: max-content; でスマホサイズにした場合、
        プルダウンメニューの文字列を折り返さないようにしている。
        テキストが短い場合は、そのテキストが占有する最小の幅に要素が縮小されます。
        一方で、テキストが長い場合は、その長さに応じて要素が拡張されます。
        ↓↓↓↓↓
    */
    min-width: max-content; 
}

/* headerの「各種お手続き」の中のプルダウン（headerにsubNavのスタイルはなかった！！！） */
header .edit .subNav::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 35%;
    margin-left: -15px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

/* footerのボトムナビゲーションの「各種お手続き」のプルダウンの「吹き出し」部分を作成している。 */
footer .edit .subNav::after {
    content: ""; /* どこを作成しているかわからない場合は、ここに文字列を入れてみる！ */
    position: absolute;
    top: 100%;
    left: 35%;
    margin-left: -15px;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
} 

/* footerのボトムナビゲーションの「各種お手続き」の中のプルダウンのリンク */
.edit .subNav a {
    text-align: left;
    font-size: 1.2rem;
    border-bottom: 1px solid #EBEBEB;
    color: #212121 !important;
    display: block;
    width: 100% !important;
    height: auto !important;
    padding: 1rem 2rem;
}

/* footerのボトムナビゲーションの「各種お手続き」の中のプルダウンメニューの一番下のメニューに下線を付けない */
.edit .subNav a:last-child {
    border-bottom: none;
}

/* footerのボトムナビゲーションの「お知らせ」の中の「999」の件数 */
.notice.number::before {
    background: #EB1E1E;
    border-radius: 12px;
    color: #fff;
    content: "999";
    position: absolute;
    right: -10px;
    padding: 3px 10px;
}

.none {
    display: none;
}

.block {
    display: block;
}

.return {
    /* position: absolute; */
    font-size: 1.2rem;
}


/* モーダル */
.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.7);
    z-index: 200;
    display: none;
}

#menu_modal {
    top: 48px;
}

.modal_content {
    background: #fff;
    border-radius: 28px;
    padding: 28px 20px;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    margin: 0;
}

.close {
    width: 8vw;
    height: 8vw;
    position: absolute;
    right: 0;
    top: -60px;
}

.action_link {
    margin-top: 20px;
    padding-top: 20px;
}

.bt1 {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

/* 誕生日モーダル */



/* 円・kWhのアニメーション */
.fadein {
    animation: fadeIn 3s ease 0s 1 normal;
}
@keyframes fadeIn { /* animation-nameで設定した値を書く */
        0% {opacity: 0} /* アニメーション開始時は不透明度0% */
        100% {opacity: 1} /* アニメーション終了時は不透明度100% */
}


/* 天気予報の温度の色 */
.txt_red {
    color: #eb1e1e;
}

.txt_blue {
    color: #5133FC;
}

.txt_orange {
    color: #FF7E45;
}



.pc_nav, .pc {
    display: none;
}

/* ログインスタンプ帳の画面で使っている */
.action_link {
    margin: 0 auto;
    padding-top: 0;
}

/* ログインスタンプ帳の画面で使っている */
.action_link .arrow {
    background: #fff;
    border-radius: 12px;
    position: relative;
    padding: 20px 15px;
    margin-bottom: 16px;
}

/* ログインスタンプ帳の画面で使っている */
.action_link h3 {
    font-weight: bold;
    font-size: 1.6rem;
    color: #EB1E1E;
}

/* ログインスタンプ帳の画面で使っている */
.action_link .arrow::after {
    position: absolute;
    top: 45%;
    right: 15px;
}

/* ログインスタンプ帳の画面で使っている */
.action_link .banner {
    background: #fff;
    border-radius: 12px;
    position: relative;
    padding: 8px;
    margin-bottom: 12px;
    font-size: 1.4rem;
    display: block; /* 縦に並べる */
}

/* ログインスタンプ帳の画面で使っている */
.banner_img {
    width: 30%;
}

/* ログインスタンプ帳の画面で使っている */
.banner_img img {
    vertical-align: top;
}

/* ログインスタンプ帳の画面で使っている */
.banner_txt {
    width: 66%;
}


@media screen and (min-width: 961px) {
    body {
        background: #f4f4f4 m !important;
        margin-top: 114px;
    }

    /* headとbodyの間の余白を50pxにする(family.htmlで使っている) */
    body.intro {
        margin-top: 50px !important;
    }

    header {
        height: 114px;
    }

    .header_wrap {
        width: 880px;
        margin: 0 auto;
    }

    .header_head_area {
        height: 50px;
    }

    h1 {
        padding: 0 30px 0 0;
    }

    h1 img {
        width: 190px !important;
    }


    #menu_modal {
        top: 60px;
    }

    #hamburger_menu {
        width: 260px;
    }

    /* 白枠の幅を決めている */
    .main_wrap {
        width: 880px !important;
        background: #fff;
        border-radius: 12px !important;
    }

    .window_center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .pc {
        display: block;
    }

    /* min-width: 961pxの場合、display: none */
    .sp {
        display: none !important;
    }

    .header_left {
        width: 440px;
    }

    /* PCのメニュー */
    .pc_nav {
        display: block;
        height: 64px !important;
        position: static;
        width: 709px;
        z-index: 190;
        border-top: none !important;
        border-bottom: none !important;
        border-right: none !important;
    }

    .pc_nav ul {
        width: 710px;
        display: flex;
        align-items: center;
    }

    /* PCのメニューの文字を表示している */
    .pc_nav ul li {
        width: 71px;
        height: 64px;
        background-repeat: no-repeat;
        border-right: 1px solid #EBEBEB;
        font-size: 0.9rem;
        text-align: center;
        background-position: center 10%;
        background-size: 34.9%;
        cursor: pointer;
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .pc_nav ul li span {
        display: block;
        padding-top: 30px;
    }

    .pc_nav ul li.icon_small {
        background-size: 26%;
    }

    .pc_nav ul li.line1 span {
        padding-top: 35px;
    }

    .pc_nav ul li a {
        display: block;
        width: 71px;
        height: 65px;
        color: #000;
        padding-top: 30px;
    }

    .pc_nav ul li a {
        padding: 0 !important;
        margin: 0 !important;
    }

    /* PCメニューのプルダウンのためのグレーの下矢印 */
    .open_details::after {
        content: "　";
        display: block;
        width: 8px;
        height: 5px;
        background: url(../images/open_nav_details.png);
        background-size: cover;
        position: relative;
        top: 2px;
        left: 30px;
    }

    .line1 .open_details::after {
        top: 9px;
    }

    /* PCメニューにプルダウンがある(nav_details) */
    .pc_nav ul.nav_details {
        display: none;
        margin-top: 5px;
        width: 200px;
        z-index: 2;
    }

    /* PCメニューの文字が1行だけのもの(line1) （ホーム、利用明細、停電情報、通知設定、各種お手続き）*/
    .pc_nav li.line1 ul.nav_details {
        margin-top: 12px;
    }

    /* PCメニューのプルダウン */
    .pc_nav ul.nav_details li {
        border-right: none;
        width: 170px;  /* PCメニューのプルダウンの幅を広げたい場合ここを修正 */
        height: 36px;
        line-height: 36px;
        padding: 0;
        text-align: left;
        text-indent: 20px;
    }

    /* PCメニューのプルダウンの中の左側の黒い三角の矢印 */
    .pc_nav ul.nav_details a {
        width: 170px;  /* PCメニューのプルダウンの幅を広げたい場合ここを修正 */
        height: 36px;
        background-color: #fff;
        background-image: url(../images/arrow_right.png); /* 左側の黒い三角の矢印 */
        background-repeat: no-repeat;
        background-position: 5px center;
        background-size: 2em;
        border-bottom: 1px solid #EBEBEB;
    }

    /* PCメニューのプルダウンの中をホバーしたときの左側の赤い三角の矢印 */
    .pc_nav ul.nav_details a:hover {
        background-color: #F4F4F4;
        background-image: url(../images/arrow_right_on.png); /* 左側の赤い三角の矢印 */
        color: #EB1E1E;
    }

    #pc_nav_moal,#pc_nav_modal2 {
        position: fixed;
        top: 110px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(51, 51, 51, 0.7);
        display: none;
    }

    #pc_nav_modal.show,#pc_nav_modal2.show {
        display: block;
    }

    /* PCメニュー ホーム */
    .nav1 {
        background-image: url(../images/nav1_pc_off.png);
        background-size: 27px !important;
    }

    #home .nav1,.nav1:hover {
        background-image: url(../images/nav1_pc_on.png);
    }

    /* PCメニュー 電気料金・使用量 */
    .nav2 {
        background-image: url(../images/nav2_pc_off.png);
    }

    .nav2:hover {
        background-image: url(../images/nav2_pc_on.png);
    }

    /* PCメニュー 利用明細 */
    .nav3 {
        background-image: url(../images/nav3_pc_off.png);
        background-position: center 14% !important;
    }

    .nav3:hover {
        background-image: url(../images/nav3_pc_on.png);
    }

    /* PCメニュー 電気料金予測 */
    .nav4 {
        background-image: url(../images/nav4_pc_off.png);
    }

    .nav4:hover,#forecast .nav4 {
        background-image: url(../images/nav4_pc_on.png);
    }

    /* PCメニュー くらしTEPCOポイント */
    .nav5 {
        background-image: url(../images/nav5_pc_off.png);
        background-position: center 12% !important;
    }

    .nav5:hover,#point .nav5 {
        background-image: url(../images/nav5_pc_on.png);
    }

    /* PCメニュー くらしのアイデア */
    .nav6 {
        background-image: url(../images/nav6_pc_off.png);
    }

    .nav6:hover {
        background-image: url(../images/nav6_pc_on.png);
    }

    /* PCメニュー 停電情報 */
    .nav7 {
        background-image: url(../images/nav7_pc_off.png);
        background-size: 19px !important;
    }

    .nav7:hover {
        background-image: url(../images/nav7_pc_on.png);
    }

    /* PCメニュー よくあるご質問 */
    .nav8 {
        background-image: url(../images/nav8_pc_off.png);
        background-position: center 12% !important;
    }

    .nav8:hover {
        background-image: url(../images/nav8_pc_on.png);
    }

    /* PCメニュー お知らせ一覧 */
    .nav9 {
        background-image: url(../images/nav9_pc_off.png);
    }

    .nav9:hover,#notice .nav9 {
        background-image: url(../images/nav9_pc_on.png);
    }

    /* PCメニュー 各種お手続き */
    .nav10 {
        background-image: url(../images/nav10_pc_off.png);
        background-position: center 12% !important;
    }

    .nav10:hover {
        background-image: url(../images/nav10_pc_on.png);
    }

    /*　PCメニューのお知らせ一覧のお知らせ件数を表示している「999」の赤い丸 */
    .nav9.number::before {
        content: "999";
        position: absolute;
        top: 0;
        right: 60px;
        padding: 3px 10px;
        letter-spacing: 0;
        background: #EB1E1E;
        border-radius: 12px;
        color: #fff;
    }

    .weather_area p {
        font-size: 1.2rem;
    }

    /* PCメニュー ログアウト */
	.logout {
		font-size: 1rem;
        background-image: url(../images/logout.png);
        background-repeat: no-repeat;
        background-size: 44%;
        background-position: center -3px;
        width: 50px;
        padding-top: 19px;
        margin-left: 30px;
        cursor: pointer;
	}

    /* PCメニュー お知らせ */
    .notice.number::before {
        content: "999";
        position: absolute;
        top: 10px;
        right: -10px;
        padding: 3px 10px;
        letter-spacing: 0;
    }

    /* PC フッター */
    footer {
        padding-bottom: 0;
    }

    /* PC フッター TEPCOのロゴ */
    footer p.logo_tepco {
        width: 119px;
        padding: 35px 0 42px 0;
    }

    /* PC フッター ナビゲーション */
    .link_lists li,.link_lists ul {
        display: inline; /* 横並びにする */
    }

    /* PC フッター ナビゲーション */
    .link_lists li {
        margin: 0 8px;
    }

    /* PC フッター ナビゲーション */
    footer .link_lists a {
        font-size: 1.2rem;
    }

    /* PC フッター ナビゲーション 各種お手続き */
    .edit .subNav.act {
        top: 70px;
        left: -30px;
        width: 290%;
        display: block;
    }

    /* PC フッター ナビゲーション 各種お手続き */
    .edit .subNav.act a  {
        line-height: 1.5 !important;
    }








    /* PC モーダル */
    .modal_content {
        width: 600px !important;
        padding: 35px 20px;
    }

    .close_about {
        cursor: pointer;
    }

    .hamburger {
        cursor: pointer;
    }

    .flex_sp {
        display: block;
    }

    .mb0_pc {
        margin-bottom: 0 !important;
    }

    .action_link {
        display: flex;
        justify-content: space-between;
        background: none !important;
        padding-top: 10px !important;
        margin: 0 auto 30px auto;
    }

    .action_link a {
        display: block;
        width: 430px;
    }

    .action_link .banner {
        margin-bottom: 10px;
        padding: 10px;
    }

    .action_link .arrow {
        padding: 20px;
        margin-bottom: 0;
    }

    .action_link p {
        font-size: 1.6rem;
    }

    .action_link h3 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }








}








