
h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    text-align: center;

}

@media screen and (min-width: 961px) {
    .wapper {
        width: 880px;
        margin: 0 auto;
        border: 1px solid #000;
        background-color: aqua;
    }

}


/* サイドイメージカルーセル */
.root_CCC {
    --min-scale-size-pc: .6;
    --min-scale-size-sp: 1;
    --indicator-active-color: #12A0A0;
}

.root_CCC:where(.astro_CCC) {
    /* ここを修正 */
    /* height: 25vw; */
    height: 570px;

    overflow: hidden;
    position: relative;

    border: 1px solid red;
    background-color: rgb(255, 213, 244);
}

.slider_CCC:where(.astro_CCC) {
    position: absolute;
    /* カルーセルをタイトルに近づけるため修正 */
    /* top: 50%; */
    top: 38%;
    transform: translateY(-45%);
    width: 100%;
    /* ここを修正 */
    height: 110%;
    overflow: hidden;
    background-color: yellow;
}

.slider__Group_CCC:where(.astro_CCC) {
    position: relative;
    top: 49%;
    transform: translateY(-45%);
    /* ここを修正 　画像の下に文字を表示するため */
    /* width: 100%;
    height: 80%; */
    width: 100%;
    height: 85%;
    /* object-fit: cover;
     margin: 0 auto; */
}

/* ここから追加　961px以上のインディケーターの高さの位置を決める */
.slider__IndicatorGroup_CCC:where(.astro_CCC) {
    bottom: -70px;
}

.slider__Thumb_CCC:where(.astro_CCC) {
    /* ここを修正 */
    width: 90%;

    /* ここを修正 　画像の下に文字を表示するため */
    /* height: 100%; */
    object-fit: cover;
    display: block;
    object-position: center;

    margin: 0 auto;
    
    /* ここを追加 */
    border-radius: 12px;
}

.slider__Content_CCC:where(.astro_CCC) {
    width: 100%;
    flex-shrink: 0;
}


.slider__Item_CCC:where(.astro_CCC) {
    display: flex; /* flexコンテナに設定 */
    flex-direction: column; /* 子要素を縦に配置することで、画像のすぐ下に文字を表示する */

}

.slider__Content_CCC:where(.astro_CCC) {
    width: 90%; /* ここで、画像の幅を調整ですることで、「幅90%、高さ90%」になる */
    margin: 0 auto; /* ここで、画像を中央配置にできる */
}

.image_caption {
    /* position: absolute; */
    bottom:1.5rem;
    left: 20px;
    width: 80%;    /* テキストの幅を調整 */
    padding: 3px; /* 必要に応じて余白を調整 */
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    box-sizing: border-box;
    
    /* 左に移動 */
    transform: translateX(45px);
}


.slider__Item_CCC:where(.astro_CCC) {
    display: flex;
    box-sizing: border-box;

    overflow: hidden;
    text-decoration: none;
    background-color: #fff;
    left: 150%;
    z-index: 1;
    text-decoration: none !important;
    border: 1px solid #e7e8e8;
    position: absolute;
    /* 左右のスライダーアイテムとの間隔（余白）はこの幅で決まる */
    width: 60%;
    /* ここを修正 */
    height: 102%;
    /* height: 100%; */
    transition: 1s all ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
}

.slider__Item_CCC:where(.astro_CCC):hover {
    box-shadow: 0 4px 10px -2px #00100e14, 0 4px 20px 8px #00100e08;
}

.slider__Item_CCC:where(.astro_CCC):nth-child(1) {
    opacity: 1;
    left: 0;
    z-index: 1;
    transform: translate(-100%) scale(var(--min-scale-size-pc));
}

.slider__Item_CCC:where(.astro_CCC):nth-child(2) {
    opacity: 1;
    left: 0;
    z-index: 2;
    transform: translate(-50%) scale(var(--min-scale-size-pc));
}

.slider__Item_CCC:where(.astro_CCC):nth-child(3) {
    opacity: 1;
    left: 50%;
    z-index: 4;
    /* 要素を水平方向に自身の幅の50%だけ左に移動させます。
    これにより、要素の中心が親要素の中央に配置されます。 */
    /* 拡大縮小を1倍に設定 */
    transform: translate(-50%) scale(1);
}

.slider__Item_CCC:where(.astro_CCC):nth-child(4) {
    opacity: 1;
    left: 100%;
    z-index: 2;
    transform: translate(-50%) scale(var(--min-scale-size-pc));
}

.slider__Item_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC).sliderDouble-BZV63CCC .slider__Item_CCC:where(.astro_CCC) {
    display: none;
}

.slider__Item_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC).sliderDouble-BZV63CCC .slider__Item_CCC:where(.astro_CCC):nth-child(1) {
    opacity: 1;
    left: 0;
    z-index: 1;
    transform: translate(-100%) scale(var(--min-scale-size-pc));
}

.slider__Item_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC).sliderDouble-BZV63CCC .slider__Item_CCC:where(.astro_CCC):nth-child(2) {
    opacity: 1;
    display: flex;
    left: 50%;
    z-index: 4;
    transform: translate(-50%) scale(1);
}

.sliderSimple-BZV63CCC:where(.astro_CCC) .slider__Item_CCC:where(.astro_CCC) {
    display: none;
}

.sliderSimple-BZV63CCC:where(.astro_CCC) .slider__Item_CCC:where(.astro_CCC):nth-child(3) {
    display: flex;
}

.slider_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC).sliderSingle-BZV63CCC .slider__Item_CCC:where(.astro_CCC):nth-child(1) {
    opacity: 1;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
    transform: none;
}

.sliderSingle-BZV63CCC:where(.astro_CCC) .slider__Item_CCC:where(.astro_CCC) {
    transition: all .8s ease;
}

.sliderLoaded-BZV63CCC:where(.astro_CCC) .slider__Item_CCC:where(.astro_CCC) {
    transition: all .8s ease;
}

.slider__Btn_CCC:where(.astro_CCC) {
    border: 0;
    outline: 0;
    cursor: pointer;
    z-index: 4;
    transition: background-color .3s ease;
    width: 48px;
    height: 48px;
    background-color: #fff;
    box-shadow: 0 8px 18px -2px #00100e14, 0 8px 36px 16px #00100e08;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__prev_CCC:where(.astro_CCC) {
    left: 19%;
}

.slider__next_CCC:where(.astro_CCC) {
    right: 19%;
}

.slider__Btn_CCC:where(.astro_CCC):hover {
    background-color: #f7f8f8;
}

.slider__Btn_CCC:where(.astro_CCC) svg:where(.astro_CCC) {
    height: 16px;
    overflow: visible;
    vertical-align: -3px;
}

.slider__IndicatorGroup_CCC:where(.astro_CCC) {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 20;
    /* gapだと古いブラウザに対応してないので、
    macのsafariでインディケーターが詰まって表示されるため削除 */
    /* gap: 12px; */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    /* bottom: 1px; */
}

.slider__Indicator_CCC:where(.astro_CCC) {
    cursor: pointer;
    width: 8px;
    height: 8px;
    background: rgba(0, 16, 14, 12);
    border-radius: 40px;
    /* gapだと古いブラウザに対応してないので、
    macのsafariでインディケーターが詰まって表示されるため削除 */
    margin: 0 6px;
}

.slider__Indicator_CCC:where(.astro_CCC).indicatorCurrent-BZV63CCC {
    background: var(--indicator-active-color);
}


@media screen and (max-width: 960px) {
    .root_CCC:where(.astro_CCC) {
        /* ここを修正 　正方形にするため */
        /* height: 35vw; */
        height: 55vw;
    }
    .slider__prev_CCC:where(.astro_CCC) {
        /* ここを修正 　正方形にするため */
        /* left: 5%; */
        left: 20%;
    }

    .slider__next_CCC:where(.astro_CCC) {
        /* ここを修正 　正方形にするため */
        /* right: 5%; */
        right: 20%;
    }

    .slider_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC) .slider__Item_CCC:where(.astro_CCC) {
        /* ここを修正　正方形にするため　全体を小さくする */
        /* width: 80%; */
        width: 45%;
        transform: translate(-50%) scale(var(--min-scale-size-pc));
    }

    .slider_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC) .slider__Item_CCC:where(.astro_CCC):nth-child(1) {
        transform: translate(-100%) scale(var(--min-scale-size-pc));
    }

    .slider_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC) .slider__Item_CCC:where(.astro_CCC):nth-child(2) {
        left: 0;
        /* ここを修正　正方形にするため */
        /* transform: translate(-80%) scale(var(--min-scale-size-pc)); */
        transform: translate(-40%) scale(var(--min-scale-size-pc));
    }

    .slider_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC) .slider__Item_CCC:where(.astro_CCC):nth-child(3) {
        left: 50%;
        transform: translate(-50%) scale(1);
    }

    .slider_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC) .slider__Item_CCC:where(.astro_CCC):nth-child(4) {
        left: 100%;
        /* ここを修正　正方形にするため */
        /* transform: translate(-20%) scale(var(--min-scale-size-pc)); */
        transform: translate(-60%) scale(var(--min-scale-size-pc));
    }
}

@media screen and (max-width: 768px) {
    .root_CCC:where(.astro_CCC) {
        /* ここを修正 　正方形にする */
        /* height: 50vw; */
        height: 62vw;
    }

    /* ここを追加　正方形 */
    /* .slider__Content_CCC:where(.astro_CCC) {
        top: 60%;
    } */

    /* ここを追加 　画像の下に文字を表示するため */
    .image_caption {
        font-size: 2.0vw;
    }

    .slider__Group_CCC:where(.astro_CCC) {
        display: block;
        height: 90%;
        transform: translateY(-55%);
    }
    
    .slider__Content_CCC:where(.astro_CCC) {
        width: 100%;
    }

    .slider__Btn_CCC:where(.astro_CCC) {
        width: 38px;
        height: 38px;
    }

    .slider__Btn_CCC:where(.astro_CCC) svg:where(.astro_CCC) {
        height: 12px;
    }

    .slider__prev_CCC:where(.astro-V33GNA3) {
        /* ここを修正　正方形にするため */
        /* left: 3%; */
        left: 15%; 
    }

    .slider__next_CCC:where(.astro-V33GNA3) {
        /* ここを修正　正方形にするため */
        /* right: 3%; */
        right: 15%;
    }

    .slider_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC) .slider__Item_CCC:where(.astro_CCC) {
        display: grid;
        /* ここを修正　正方形にするため　左右両端のスライドアイテム */
        /* width: 74%; */
        width: 50%;
    }

    .slider_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC) .slider__Item_CCC:where(.astro_CCC):hover {
        box-shadow: none;
    }

    .slider_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC) .slider__Item_CCC:where(.astro_CCC):nth-child(1) {
        left: 0;
        z-index: 1;
        transform: translate(-100%) scale(var(--min-scale-size-sp));
    }

    .slider_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC) .slider__Item_CCC:where(.astro_CCC):nth-child(2) {
        left: 0;
        z-index: 2;
        /* ここを修正　正方形にするため */
        /* transform: translate(-90%) scale(var(--min-scale-size-sp)); */
        transform: translate(-60%) scale(var(--min-scale-size-sp));
    }

    .slider_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC) .slider__Item_CCC:where(.astro_CCC):nth-child(3) {
        left: 50%;
        z-index: 4;
        transform: translate(-50%) scale(var(--min-scale-size-sp));
        /* ここを修正　正方形にするため　真ん中のスライドアイテム */
        /* width: 74%; */
        width: 50%;
    }

    .slider_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC) .slider__Item_CCC:where(.astro_CCC):nth-child(4) {
        left: 100%;
        z-index: 2;
        /* ここを修正　正方形にするため */
        /* transform: translate(-10%) scale(var(--min-scale-size-sp)); */
        transform: translate(-40%) scale(var(--min-scale-size-sp));
    }

    .slider_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC).sliderDouble-BZV63CCC .slider__Item_CCC:where(.astro_CCC):nth-child(2) {
        display: block;
    }

    .slider_CCC:where(.astro_CCC) .slider__Group_CCC:where(.astro_CCC).sliderDouble-BZV63CCC .slider__Item_CCC:where(.astro_CCC) {
        transition: none;
    }

}


/* ここから追加　再生ボタンと停止ボタン */
.slider__IndicatorGroup_CCC {
    position: relative;
}

/* インディケーターの右端に配置 */
.auto_slide_btn {
    position: absolute;
}

/* 再生ボタン（右向きの三角） */
.auto_slide_btn.triangle {
    /* ドットの高さをインディケーターの高さにそろえる */
    bottom: calc(100% - 9px); 
    /* 追加：中央に配置 */
    /* left: calc(50% + 60px) !important;  */
    width: 8px;
    height: 10px;
    background-image: url(./btn_arrow_right.png);
    background-size: cover;
    cursor: pointer;
}

/* 停止ボタン（四角形） */
.auto_slide_btn.square {
    /* ドットの高さをインディケーターの高さにそろえる */
    bottom: calc(100% - 15px);
    /* 追加：中央に配置 */
    /* left: calc(50% + 52px) !important; */
    width: 1em;
    height: 1em;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}

.auto_slide_btn.square::before,
.auto_slide_btn.square::after {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0.1em;
    height: 0.5em;
    /* コンテンツの幅や高さに加えて、ボーダーとパディングの分も幅や高さとして考慮されます。 */
    box-sizing: border-box;
    background-color: currentColor;
    content: "";
}
.auto_slide_btn.square::before {
    left: 0;
}
.auto_slide_btn.square::after {
    left: 20%;
}
/* ここまで追加　　再生ボタンと停止ボタン */


/* ここから追加　インディケーターの高さの位置を決める */
@media screen and (max-width: 768px) {
    .slider__IndicatorGroup_CCC:where(.astro_CCC) {
            bottom: -5px;
    }
}
